<h1>{{title}}</h1>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Email</th>
        <th>Username</th>
        <th>Password</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {{# each users }}
        <tr>
            <td>{{this.email}}</td>
            <td>{{this.username}}</td>
            <td>{{this.password}}</td>
            <td>
                <a href="/users/{{this._id}}" class="btn btn-success">View</a>
                <a href="/users/delete/{{this._id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>